<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>ALSA Caisse | Encaissements</title>
    <link rel="stylesheet" href="~/css/css2/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/css2/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
    <style>
        .disabled-button {
            opacity: 0.5; 
            pointer-events: none; 
            background:gray;
            border:gray;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="body-overlay"></div>
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img src="~/img/alsa-logo.png" class="img-fluid" /></h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="@Url.Action("Index","FDR")">
                        <i class="material-icons">description</i>FDR
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Machiniste")">
                        <i class="material-icons">person</i><span>Machinistes</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Vehicule")">
                        <i class="material-icons">directions_bus</i>
                        <span>Véhicules</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Ligne")">
                        <i class="material-icons">directions</i>Ligne
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Encaissement")" style="color: black;background-color: #00B1FE;">
                        <i class="material-icons">attach_money</i>Encaissement
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Login", "Compte")">
                        <i class="material-icons">logout</i>Déconnexion
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <div class="top-navbar">
                <div class="xp-topbar">
                    <div class="row">
                        <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                            <div class="xp-menubar">
                                <span class="material-icons text-white">
                                    signal_cellular_alt
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <form action="@Url.Action("Index", "Encaissement")" method="post">
                                    <div class="row" style="height:1cm">
                                        <div>
                                            <input style="width:5cm;margin-left: 15cm;border-radius:5px;padding: 10px 6px 0 6px" type="text" name="search" />
                                            <button style="background:DeepSkyBlue;border:0;border-radius:5px;padding: 10px 6px 0 6px;" type="submit">
                                                <i class="material-icons">search</i>
                                            </button>
                                            <button style="background:DeepSkyBlue;border:0;border-radius:5px;padding: 10px 6px 0 6px;" type="submit">
                                                <i class="material-icons">refresh</i>
                                            </button>
                                            <a style="background: #28a745;border:1 black;border-radius: 5px;padding: 17px 7px 4px 7px;" href="#addEncaissementModal" data-toggle="modal" style="background:DeepSkyBlue;border:0;border-radius:5px;padding: 10px 6px 0 6px;">
                                                <i class="material-icons" style="color:white">add_circle</i>
                                            </a>
                                        </div>

                                    </div>
                                </form>
                            </div>                                                                               
                            <table class="table table-striped table-hover table-sm" onload="get()">
                                <thead>
                                    <tr>
                                        <th style="opacity:0;"></th>
                                        <th>Date</th>
                                        <th>Centre</th>
                                        <th>Véhicule</th>
                                        <th>Conducteur</th>
                                        <th>Ligne</th>
                                        <th>Recette versée</th>
                                        <th>Recette saisie</th>                                                                              
                                        <th>Manque</th>                                        
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if(Model != null)
                                        {
                                            foreach (var encaissement in Model.Encaissements)
                                            {
                                                  <tr>
                                                      <td style="opacity:0;">@encaissement.Encaissement_Id</td>
                                                      <td>@encaissement.Date</td>
                                                      <td>@encaissement.Centre</td>
                                                      <td>@encaissement.Vehicule</td>                                                        
                                                      <td>@encaissement.Conducteur</td>
                                                      <td>@encaissement.Ligne</td>
                                                      <td>@encaissement.RecetteVerse</td>                                                        
                                                      <td>@encaissement.RecetteSaisi</td>
                                                      <td style="font-size: 14px;">@encaissement.Manque</td>                                                    
                                                      <td>
                                                          <div style="margin-left: 20px;" class="col-sm-6 p-0 d-flex justify-content-lg-end justify-content-center">
                                                             @if (encaissement.Manque != 0)
                                                             {
                                                               <a style="margin-left:10px;" href="#ReglerManque" class="btn btn-warning" data-toggle="modal" id="Regle">
                                                                    <i style="color:white;padding: 2px 0;" class="material-icons">settings</i>
                                                               </a>
                                                               <a style="margin-left:10px;" href="#justifManque" class="btn btn-warning" data-toggle="modal" id="Justif">
                                                                    <i style="color:white;padding: 2px 0;" class="material-icons">lock</i>
                                                               </a>
                                                               <a style="margin-left:10px;" href="#commentManque" class="btn btn-warning" data-toggle="modal" id="Comment">
                                                                    <i style="color:white;padding: 2px 0;" class="material-icons">comment</i>
                                                               </a>
                                                             }
                                                             else
                                                             {
                                                               <a style="margin-left:10px;" href="#ReglerManque" class="btn btn-warning disabled-button" data-toggle="modal" id="Regle">
                                                                    <i style="color:white;padding: 2px 0;" class="material-icons">settings</i>
                                                               </a>
                                                               <a style="margin-left:10px;" href="#justifManque" class="btn btn-warning disabled-button" data-toggle="modal" id="Justif">
                                                                    <i style="color:white;padding: 2px 0;" class="material-icons">lock</i>
                                                               </a>
                                                               <a style="margin-left:10px;" href="#commentManque" class="btn btn-warning disabled-button" data-toggle="modal" id="Justif">
                                                                    <i style="color:white;padding: 2px 0;" class="material-icons">comment</i>
                                                               </a>
                                                             }
                                                          </div>
                                                      </td>
                                                  </tr>
                                            }
                                        }                                                                            
                                    }                                    
                                </tbody>
                            </table>
                            <div class="pagination">
                                @if (Model.TotalPages > 1)
                                {
                                    @if (Model.Page > 1)
                                    {
                                        <a style="margin-right:10px" href="@Url.Action("Index", "Encaissement", new { page = Model.Page - 1, search = Context.Request.Query["search"] })" class="btn btn-primary material-icons">arrow_back</a>
                                    }
                                    @if (Model.Page < Model.TotalPages)
                                    {
                                        <a href="@Url.Action("Index", "Encaissement", new { page = Model.Page + 1, search = Context.Request.Query["search"] })" class="btn btn-primary material-icons">arrow_forward</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div id="addEncaissementModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                            <div style="width:20cm;right:5cm" class="modal-content">
                                <form action="@Url.Action("ajoutEncaissement", "Encaissement")" method="post">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Ajouter un encaissement</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label style="margin-right:1.7cm;">N° FDR</label>
                                            <select style="width:5.7cm;display:inline;margin-right:20px" class="form-control" name="NFDR" required>
                                                @{
                                                    if (Model != null)
                                                    {
                                                        foreach (var FDR in Model.FDRs)
                                                        {
                                                            <option value="@FDR">@FDR</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <label style="margin-left:0.5cm;margin-right:0.5cm;">Date</label>
                                            <input style="width:6cm;display:inline" type="date" name="Date" class="form-control" required>
                                        </div>
                                        <div>
                                            <label style="margin-right:2cm">Ligne</label>
                                            <select style="width:3cm;display:inline;margin-right:20px" class="form-control" name="Ligne" required>
                                                @{
                                                    if (Model != null)
                                                    {
                                                        foreach (var ligne in Model.Lignes)
                                                        {
                                                            <option value="@ligne">@ligne</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <label style="margin-right:20px;margin-left:0.5cm">Tarif</label>
                                            <select style="width:2.5cm;display:inline" class="form-control" id="Tarif" name="Tarif" required>
                                                @{
                                                    if (Model != null)
                                                    {
                                                        foreach (var tarif in Model.Tarifs)
                                                        {
                                                            <option value="@tarif">@tarif</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <label style="margin-right:20px;margin-left:20px">BU</label>
                                            <select style="width:4.4cm;display:inline" class="form-control" name="Centre" id="Centre" required>
                                                @{
                                                    if (Model != null)
                                                    {
                                                        foreach (var bu in Model.BUs)
                                                        {
                                                            <option value="@bu">@bu</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label style="margin-right:0.8cm">Machiniste</label>
                                            <select style="width:6cm;display:inline" class="form-control" name="Conducteur" required>
                                                @{
                                                    if (Model != null)
                                                    {
                                                        foreach (var machiniste in Model.Machinistes)
                                                        {
                                                            <option value="@machiniste">@machiniste</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <label style="margin-right:0.8cm;margin-left:0.5cm">Véhicule</label>
                                            <select style="width:5.1cm;display:inline" class="form-control" name="Vehicule" required>
                                                @{
                                                    if (Model != null)
                                                    {
                                                        foreach (var vehicule in Model.Vehicules)
                                                        {
                                                            <option value="@vehicule">@vehicule</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label style="margin-right:10px">Nombre de TV</label>
                                            <input style="width:2.2cm;display:inline" type="number" name="NombreTV" id="NombreTV" class="form-control" required>
                                            <label style="margin-right:10px;margin-left:10px">Nombre de PV</label>
                                            <input style="width:2.2cm;display:inline" type="number" name="NombrePV" id="NombrePV" class="form-control" required>
                                            <label style="margin-right:10px;margin-left:10px">Recharge PMT</label>
                                            <input style="width:2.2cm;display:inline" type="number" name="RechargePMT" id="RechargePMT" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label style="margin-right:1.4cm">Montant</label>
                                            <input style="width:6cm;display:inline" type="number" id="RecetteSaisi" class="form-control" required>
                                            <label style="margin-left:0.5cm;margin-right:0.5cm;">Prix versé</label>
                                            <input style="width:5.2cm;display:inline" type="number" name="RecetteVerse" id="PrixVerse" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Nombre de courses</label>
                                            <input style="width:5cm;display:inline" type="number" name="NbrCourses" class="form-control" required>
                                            <label style="color:red;margin-left:3cm" id="Manque">Manque:</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                                        <input type="submit" class="btn btn-info" value="Enregistrer">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="ReglerManque" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                    <form action="@Url.Action("regleEncaissement", "Encaissement")" method="post">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Régler l'encaissement</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">
                                                &times;
                                            </button>
                                        </div>
                                        <div class="modal-body">                                            
                                            <div class="form-group">
                                                <label>Prix versé</label>
                                                <input type="number" name="PrixVerse"/>
                                            </div>
                                            <input type="hidden" name="code" value="" />
                                            <input type="hidden" name="manque" value="" />
                                            <input type="hidden" name="RecetteVersee" value=""/>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                                            <input id="enregistrer" type="submit" class="btn btn-info" value="Enregistrer">
                                        </div>
                                    </form>                                                                                                                                                                                         
                            </div>
                        </div>
                    </div>
                    <div id="justifManque" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width: 20cm;right: 5cm;bottom:1cm">
                                <form action="@Url.Action("CheckRadio", "Encaissement")" method="post" id="MyForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Justifier un manque</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                                <input type="radio" name="Motif" value="intégration par partie double">
                                                <label for="">intégration par partie double</label>
                                                <input type="radio" name="Motif" value="Echec Télécollecte partiel" style="margin-left: 2cm;">
                                                <label for="">Echec Télécollecte partiel</label>
                                        </div>                                        
                                        <div class="form-group">
                                            <input type="radio" name="Motif" value="Recette integre a date antérieure">
                                            <label for="">Recette integre a date antérieure</label>
                                            <input type="radio" name="Motif" value="Recette integre a date postérieure" style="margin-left:0.9cm">
                                            <label for="">Recette integre a date postérieure</label>
                                        </div>                                        
                                        <div class="form-group">
                                            <input type="radio" name="Motif" value="Ligne appartenant à une autre BU">
                                            <label for="">Ligne appartenant à une autre BU</label>
                                            <input type="radio" name="Motif" value="Problème tarification Ligne" style="margin-left:0.8cm">
                                            <label for="">Problème tarification Ligne</label>
                                        </div>                                        
                                        <div class="form-group">
                                            <input type="radio" name="Motif" value="Intégration double">
                                            <label for="">Intégration double</label>
                                            <input type="radio" name="Motif" value="Recette intégrée avec numéro bus erroné" style="margin-left:4cm">
                                            <label for="">Recette intégrée avec numéro bus erroné</label>
                                        </div>                                        
                                        <div class="form-group">
                                            <input type="radio" name="Motif" value="Echec de télécollecte">
                                            <label for="">Echec de télécollecte</label>
                                            <input type="radio" name="Motif" value="problème paramétrage pupitre" style="margin-left:3.3cm">
                                            <label for="">problème paramétrage pupitre</label>
                                        </div>                                        
                                        <div class="form-group">
                                            <input type="radio" name="Motif" value="Utilisation ligne non active">
                                            <label for="">Utilisation ligne non active</label>
                                            <input type="radio" name="Motif" value="Transfert partiel" style="margin-left:2.3cm">
                                            <label for="">Transfert partiel</label>
                                        </div>                                        
                                        <div class="form-group">
                                            <input type="radio" name="Motif" value="Manque sur recette imputé au conducteur">
                                            <label for="">Manque sur recette imputé au conducteur</label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="code1" value="" />
                                    <input type="hidden" name="manque1" value="" />
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                                        <input id="enregistrer" type="submit" class="btn btn-info" value="Enregistrer">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="commentManque" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="@Url.Action("comment", "Encaissement")">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Saisir un commentaire</h4>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea name="Commentaire" style="width:100%" placeholder="saisir votre commentaire ici"></textarea>
                                        <input type="hidden" name="codeComment" value="" />
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                                        <input  type="submit" class="btn btn-info" value="Enregistrer">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/js/js/popper.min.js"></script>
    <script src="~/js/js/bootstrap.min.js"></script>
    <script src="~/js/js/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".xp-menubar").on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
            $(".xp-menubar,.body-overlay").on('click', function () {
                $('#sidebar,.body-overlay').toggleClass('show-nav');
            });
        });
        $(document).ready(function () {                        
            function reapplyDisabledButtons() {
                document.querySelectorAll('tr').forEach(function (row) {
                    var code = row.cells[0].innerText.trim();
                    if (localStorage.getItem('disabledButton' + code)) {
                        var buttons = row.cells[9];
                        var regleButton = buttons.querySelector('#Regle');
                        if (regleButton) {
                            regleButton.classList.add('disabled-button');
                        }
                    }
                });
            }            
            reapplyDisabledButtons();            
            $('form').on('submit', function () {
                setTimeout(function () {
                    reapplyDisabledButtons();
                }, 500);
            });            
            document.querySelectorAll('#Regle').forEach(function (button) {
                button.addEventListener('click', function (event) {
                    var row = event.target.closest('tr');
                    if (row) {
                        var code = row.cells[0].innerText.trim();
                        var manque = row.cells[8].innerText.trim();
                        var RecetteVerse = row.cells[6].innerText.trim();
                        var inputCode = document.querySelector('input[name="code"]');
                        var inputManque = document.querySelector('input[name="manque"]');
                        var inputRecetteVerse = document.querySelector('input[name="RecetteVersee"]');
                        if (inputCode) {
                            inputCode.value = code;
                        }
                        if (inputManque) {
                            inputManque.value = manque;
                        }
                        if (inputRecetteVerse) {
                            inputRecetteVerse.value = RecetteVerse;
                        }
                    }
                });
            });

            document.querySelectorAll('#Justif').forEach(function (button) {
                button.addEventListener('click', function (event) {
                    var row = event.target.closest('tr');
                    if (row) {
                        var code = row.cells[0].innerText.trim();
                        var manque = row.cells[8].innerText.trim();
                        var inputCode = document.querySelector('input[name="code1"]');
                        var inputManque = document.querySelector('input[name="manque1"]');
                        if (inputCode) {
                            inputCode.value = code;
                        }
                        if (inputManque) {
                            inputManque.value = manque;
                        }

                        document.getElementById('MyForm').addEventListener('submit', function () {
                            var buttons = row.cells[9];
                            var regleButton = buttons.querySelector('#Regle');
                            if (regleButton) {
                                regleButton.classList.add('disabled-button');
                                localStorage.setItem('disabledButton' + code, true);
                            }
                        });
                    }
                });
            });

            var tabFunctions = {
                firstFunction: false,
                secondFunction: false
            };

            $(document).on('keydown', function (event) {
                if (event.key === "Enter") {
                    if (!tabFunctions.firstFunction) {
                        firstFunction();
                        tabFunctions.firstFunction = true;
                    } else if (!tabFunctions.secondFunction) {
                        secondFunction();
                        tabFunctions.secondFunction = true;
                    }
                }
            });

            function firstFunction() {
                var Tarif = parseFloat(document.querySelector('#Tarif').value);
                console.log(Tarif);
                var NombreTV = parseInt(document.querySelector('#NombreTV').value);
                var NombrePV = parseInt(document.querySelector('#NombrePV').value);
                var RechargePMT = parseInt(document.querySelector('#RechargePMT').value);
                var Montant = document.querySelector('#RecetteSaisi');
                Montant.value = (NombreTV * Tarif) + RechargePMT + (NombrePV * 35);
            }

            function secondFunction() {
                console.log("la fonction 2 est appelée");
                var Montant = parseFloat(document.querySelector('#RecetteSaisi').value);
                console.log(Montant);
                var PrixVerse = parseFloat(document.querySelector('#PrixVerse').value);
                console.log(PrixVerse);
                var Manque = document.querySelector('#Manque');
                var ManqueInput = document.querySelector('#ManqueInput');
                if (!isNaN(Montant) && !isNaN(PrixVerse)) {
                    Manque.textContent = 'Manque: ' + (Montant - PrixVerse).toFixed(2);
                }
            }

            function resetTabFunctions(key) {
                if (key !== "Enter") {
                    tabFunctions.firstFunction = false;
                    tabFunctions.secondFunction = false;
                }
            }
        });
    </script>





</body>
</html>


